    <h2>Ajout d'un site Internet de prévision météo du spot</h2>

    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form, {
                'style': 'horizontal',
                'label_col': 2,
                'widget_col': 8,
                'methode' : 'POST',
                'action' : path('_bo_ajax_spot_add_site', {'id':spot.id})
            })}}

            {{ form_errors(form, { 'global_errors': true }) }}

            {{ form_end(form) }}

        </div>
    </div>

    <script>
        $("#dataWindPrev_form").on('submit', function(e){

            $('#result').html('<img src="{{ asset('bundles/lapoizwind/images/loading.gif') }}" alt="Loading Ajax data" />');
            var create = {{ create }}

            e.preventDefault();
            var $this = $(this);

            $.ajax({
                url: $this.attr('action'),
                type: $this.attr('method'),
                data: $this.serialize(),
                success: function(html) {
                    $('#result').html(html);
                    loadMenuWebSite();
                }
            });
        })
    </script>
