{% extends 'LaPoizWindBundle:BackOffice:base.html.twig' %}

{% block scripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block bodyPage %}
    <h1>Création d'un nouveau site</h1>
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form, {
                'style': 'horizontal',
                'label_col': 2,
                'widget_col': 8,
            })}}

            {{ form_errors(form, { 'global_errors': true }) }}

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}