{% macro navSpot(spot, dataWindPrev) %}
    <div class="row">
        <div class="col-sm-12">

            <ul class="nav nav-pills nav-stacked">
                <li class="" id="menuEditer"><a onclick="editerSpot(this)" id="editSpotLink"><i class="icon-pencil icon-white"></i> Editer</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Les sites de prévisions</h3>
            <ul class="nav nav-pills nav-stacked" id="menuWebSite">
                <li class="" id="menuAddSite"> <a onclick="ajouterSite(this)"><i class="icon-plus icon-white"></i> Ajouter</a></li>
                {% if spot.dataWindPrev is not null %}
                    {% for dataWindPrevSpot in spot.dataWindPrev %}
                    <li class="" id="menuSpot{{ dataWindPrevSpot.id }}">
                        <a onclick="dataWindPrev(this,'{{ dataWindPrevSpot.id }}')">{{ dataWindPrevSpot.website.nom }}</a>
                    </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>T°C de l'eau</h3>
            <ul class="nav nav-pills nav-stacked">
                {% if spot.tempWaterURL is defined %}
                    {% if spot.tempWaterURL is  null %}
                        <li class="" id="menuTempWaterCreate"> <a  onclick="addTempWater(this)"><i class="icon-white icon-plus"></i> Ajouter</a></li>
                    {% else %}
                        <li class="" id="menuTempWaterEditer"><a onclick="tempWaterEditer(this)"><i class="icon-pencil icon-white"></i> Editer</a></li>
                        <li class="" id="menuTempWaterGetData"><a onclick="getTempWaterData(this)">Get Data</a></li>
                    {% endif %}
                {% else %}
                    <li class="" id="menuTempWaterCreate"> <a  onclick="addTempWater(this)"><i class="icon-white icon-plus"></i> Ajouter</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Sites sur le spot</h3>
            <ul class="nav nav-pills nav-stacked" id="menuInfoSite">
                <li class="" id="menuAddInfoSite"> <a onclick="ajouterInfoSite(this)"><i class="icon-plus icon-white"></i> Ajouter</a></li>
                {% if spot.infoSpot is not null %}
                    {% for siteInfoSpot in spot.infoSpot %}
                        <li class="" id="menuInfoSpot{{ siteInfoSpot.id }}">
                            <a onclick="infoSpot(this,'{{ siteInfoSpot.id }}')">{{ siteInfoSpot.titre }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <h3>Les marées</h3>
            <ul class="nav nav-pills nav-stacked">
                {% if spot.mareeURL is defined %}
                    {% if spot.mareeURL is  null %}
                        <li class="" id="menuMareeCreate"> <a  onclick="addMaree(this)"><i class="icon-white icon-plus"></i> Ajouter</a></li>
                    {% else %}
                        <li class="" id="menuMareeEditer"><a onclick="mareeEditer(this)"><i class="icon-pencil icon-white"></i> Editer</a></li>
                        <li class="" id="menuMareeGetData"><a onclick="getMareeData(this)"> Get Data</a></li>
                    {% endif %}
                {% else %}
                    <li class="" id="menuMareeCreate"> <a  onclick="addMaree(this)"><i class="icon-white icon-plus"></i> Ajouter</a></li>
                {% endif %}
            </ul>
        </div>
    </div>


    <script>

        function editerSpot(elemLink) {
            deselectAllMenu();
            elemLink.parentNode.className = elemLink.parentNode.className+" active";
            $('#result').html('<img src="{{ asset('bundles/lapoizwind/images/loading.gif') }}" alt="Loading Ajax data" />');
            var id = {{ spot.id }};
            $.ajax({
                type: "GET",
                url: "{{ path('_bo_ajax_spot_edit', {'id':spot.id})}}",
                id: id,
                cache: false,
                success: function(data){
                    $('#result').html(data);
                }
            });
            return false;
        }

        function ajouterSite(elemLink) {
            deselectAllMenu();
            elemLink.parentNode.className = elemLink.parentNode.className+" active";
            $('#result').html('<img src="{{ asset('bundles/lapoizwind/images/loading.gif') }}" alt="Loading Ajax data" />');
            var id = {{ spot.id }};
            $.ajax({
                type: "GET",
                url: "{{ path('_bo_ajax_spot_add_site', {'id':spot.id})}}",
                id: id,
                cache: false,
                success: function(data){
                    $('#result').html(data);
                }
            });
            return false;
        }


        function ajouterInfoSite(elemLink) {
            deselectAllMenu();
            elemLink.parentNode.className = elemLink.parentNode.className+" active";
            $('#result').html('<img src="{{ asset('bundles/lapoizwind/images/loading.gif') }}" alt="Loading Ajax data" />');
            var id = {{ spot.id }};
            $.ajax({
                type: "GET",
                url: "{{ path('_bo_ajax_spot_add_spot_info', {'id':spot.id})}}",
                id: id,
                cache: false,
                success: function(data){
                    $('#result').html(data);
                }
            });
            return false;
        }

        function infoSpot(elemLink, infoSpotId) {
            deselectAllMenu();
            elemLink.parentNode.className = elemLink.parentNode.className+" active";
            $('#result').html('<img src="{{ asset('bundles/lapoizwind/images/loading.gif') }}" alt="Loading Ajax data" />');
            var URL = "{{ path('_bo_ajax_spot_edit_spot_info', {'id':'infoSpotId'}) }}".replace("/infoSpotId","/"+infoSpotId);
            $.ajax({
                type: "GET",
                url: URL,
                cache: false,
                success: function(data){
                    $('#result').html(data);
                }
            });
            return false;
        }


        function noteMeteo(elemLink){
            deselectAllMenu();
            elemLink.parentNode.className = elemLink.parentNode.className+" active";
            $('#result').html('<img src="{{ asset('bundles/lapoizwind/images/loading.gif') }}" alt="Loading Ajax data" />');

            $.ajax({
                type: "POST",
                url: "{{ path('_bo_ajax_spot_meteo_launch_note', {'id':spot.id})}}",
                cache: false,
                success: function(data){
                    $('#result').html(data);
                }
            });
            return false;
        };

        function dataWindPrev(elemLink, dataWindPrevId) {
            deselectAllMenu();
            elemLink.parentNode.className = elemLink.parentNode.className+" active";
            $('#result').html('<img src="{{ asset('bundles/lapoizwind/images/loading.gif') }}" alt="Loading Ajax data" />');
            var URL = "{{ path('_bo_ajax_spot_dataWindPrev', {'id':'dataWindPrevId'}) }}".replace("/dataWindPrevId","/"+dataWindPrevId);
            $.ajax({
                type: "GET",
                url: URL,
                cache: false,
                success: function(data){
                    $('#result').html(data);
                }
            });
            return false;
        }

        {% if spot.mareeURL is defined and spot.mareeURL is not null %}
        function mareeEditer(elemLink){
            deselectAllMenu();
            elemLink.parentNode.className = elemLink.parentNode.className+" active";
            $('#result').html('<img src="{{ asset('bundles/lapoizwind/images/loading.gif') }}" alt="Loading Ajax data" />');
            var id = {{ spot.id }};
            $.ajax({
                type: "POST",
                url: "{{ path('_bo_ajax_spot_maree_edit', {'id':spot.id})}}",
                id: id,
                cache: false,
                success: function(data){
                    $('#result').html(data);
                }
            });
            return false;
        };
        function mareeEffacer(elemLink){
            deselectAllMenu();
            elemLink.parentNode.className = elemLink.parentNode.className+" active";
            $('#result').html('<img src="{{ asset('bundles/lapoizwind/images/loading.gif') }}" alt="Loading Ajax data" />');
            var id = {{ spot.id }};
            $.ajax({
                type: "POST",
                url: "{{ path('_bo_ajax_spot_maree_delete', {'id':spot.id})}}",
                id: id,
                cache: false,
                success: function(data){
                    $('#result').html(data);
                }
            });
            return false;
        };
        function getMareeData(elemLink){
            deselectAllMenu();
            elemLink.parentNode.className = elemLink.parentNode.className+" active";
            $('#result').html('<img src="{{ asset('bundles/lapoizwind/images/loading.gif') }}" alt="Loading Ajax data" />');
            var id = {{ spot.id }};
            $.ajax({
                type: "POST",
                url: "{{ path('_bo_ajax_maree_getPrev', {'id':spot.id})}}",
                id: id,
                cache: false,
                success: function(data){
                    $('#result').html(data);
                }
            });
            return false;
        };
        {%  endif %}

        function addMaree(elemLink){
            deselectAllMenu();
            elemLink.parentNode.className = elemLink.parentNode.className+" active";
            $('#result').html('<img src="{{ asset('bundles/lapoizwind/images/loading.gif') }}" alt="Loading Ajax data" />');

            $.ajax({
                type: "POST",
                url: "{{ path('_bo_ajax_maree_create', {'id':spot.id})}}",
                cache: false,
                success: function(data){
                    $('#result').html(data);
                }
            });
            return false;
        };

        function noteMaree(elemLink){
            deselectAllMenu();
            elemLink.parentNode.className = elemLink.parentNode.className+" active";
            $('#result').html('<img src="{{ asset('bundles/lapoizwind/images/loading.gif') }}" alt="Loading Ajax data" />');

            $.ajax({
                type: "POST",
                url: "{{ path('_bo_ajax_maree_launch_note', {'id':spot.id})}}",
                cache: false,
                success: function(data){
                    $('#result').html(data);
                }
            });
            return false;
        };


        {% if spot.tempWaterURL is defined and spot.tempWaterURL is not null %}
        function tempWaterEditer(elemLink){
            deselectAllMenu();
            elemLink.parentNode.className = elemLink.parentNode.className+" active";
            $('#result').html('<img src="{{ asset('bundles/lapoizwind/images/loading.gif') }}" alt="Loading Ajax data" />');
            var id = {{ spot.id }};
            $.ajax({
                type: "POST",
                url: "{{ path('_bo_ajax_spot_tempWater_edit', {'id':spot.id})}}",
                id: id,
                cache: false,
                success: function(data){
                    $('#result').html(data);
                }
            });
            return false;
        };
        function tempWaterEffacer(elemLink){
            deselectAllMenu();
            elemLink.parentNode.className = elemLink.parentNode.className+" active";
            $('#result').html('<img src="{{ asset('bundles/lapoizwind/images/loading.gif') }}" alt="Loading Ajax data" />');
            var id = {{ spot.id }};
            $.ajax({
                type: "POST",
                url: "{{ path('_bo_ajax_spot_tempWater_delete', {'id':spot.id})}}",
                id: id,
                cache: false,
                success: function(data){
                    $('#result').html(data);
                }
            });
            return false;
        };
        function getTempWaterData(elemLink){
            deselectAllMenu();
            elemLink.parentNode.className = elemLink.parentNode.className+" active";
            $('#result').html('<img src="{{ asset('bundles/lapoizwind/images/loading.gif') }}" alt="Loading Ajax data" />');
            var id = {{ spot.id }};
            $.ajax({
                type: "POST",
                url: "{{ path('_bo_ajax_tempWater_getPrev', {'id':spot.id})}}",
                id: id,
                cache: false,
                success: function(data){
                    $('#result').html(data);
                }
            });
            return false;
        };
        {%  endif %}

        function addTempWater(elemLink){
            deselectAllMenu();
            elemLink.parentNode.className = elemLink.parentNode.className+" active";
            $('#result').html('<img src="{{ asset('bundles/lapoizwind/images/loading.gif') }}" alt="Loading Ajax data" />');

            $.ajax({
                type: "POST",
                url: "{{ path('_bo_ajax_tempWater_create', {'id':spot.id})}}",
                cache: false,
                success: function(data){
                    $('#result').html(data);
                }
            });
            return false;
        };


        function deselectAllMenu() {
            // liste des menu fixe et connu
            idMenuArray = new Array ("menuEditer", "menuAddInfoSite", "menuMeteoNote", "menuAddInfo");
            // ajouter les menu des webSites

            {% if spot.tempWaterURL is defined %}
            {% if spot.tempWaterURL is null %}
                idMenuArray.push("menuTempWaterCreate");
            {% else %}
                idMenuArray.push("menuTempWaterEditer");
                idMenuArray.push("menuTempWaterGetData");
            {% endif %}
            {% else %}
                idMenuArray.push("menuTempWaterCreate");
            {% endif %}

            {% if spot.mareeURL is defined %}
                {% if spot.mareeURL is null %}
                    idMenuArray.push("menuMareeCreate");
                {% else %}
                    idMenuArray.push("menuMareeEditer");
                    idMenuArray.push("menuMareeGetData");
                    idMenuArray.push("menuMareeNote");
                {% endif %}
            {% else %}
                idMenuArray.push("menuMareeCreate");
            {% endif %}

            $( "li[id^='menuSpot']" ).each(function() {
                idMenuArray.push(this.id);
            });

            $( "li[id^='menuInfoSpot']" ).each(function() {
                idMenuArray.push(this.id);
            });

            for (i=0; i<idMenuArray.length; i++) {
                menuElem = document.getElementById(idMenuArray[i]);
                if (menuElem) {
                    menuElem.className = menuElem.className.replace("active","");
                }
            }

            $('#navAjax').html('');
            $('#subNavAjax').html('');
        }

        function loadMenuInfoSite(){
            $.ajax({
                type: "POST",
                url: "{{ path('_bo_ajax_spot_load_menu_infoSite', {'id':spot.id})}}",
                cache: false,
                success: function(data){
                    $('#menuInfoSite').html(data);
                }
            });
            return false;
        };

        function loadMenuWebSite(){
            $.ajax({
                type: "POST",
                url: "{{ path('_bo_ajax_spot_load_menu_webSite', {'id':spot.id})}}",
                cache: false,
                success: function(data){
                    $('#menuWebSite').html(data);
                }
            });
            return false;
        };

    </script>
{% endmacro %}