{% extends 'LaPoizWindBundle:BackOffice:base.html.twig' %}

{% block bodyPage %}

    <div class="starter-template">
        <h1>Calcule du nombre d'heure de naviguation</h1>
        <h2>Tableau résultat à enregistrer</h2>

        <table class="table table-striped table-bordered">

                        <tbody>
                         {% for keyDate, tabDay in tabNbHoure %}
                            <tr>
                                <th>{{ keyDate }}</th>
                                {% for keySite, elem in tabDay %}
                                    <td>{{ keySite }} : {{ elem }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>

        </table>


        <table class="table table-striped table-bordered">

            <tbody>
            {% for keyDate, tabDay in tabMeteo %}
                <tr>
                    <th>{{ keyDate }}</th>
                    {% for key, elem in tabDay %}
                        <td>{{ key }} : {{ elem }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}