{% macro detail(spot) %}

    <div class="row">
        <div class="col-sm-12">

            <div class="row">
                <div class="col-sm-12">
                    {{ spot.description|raw }}
                </div>
            </div>


            <div class="row">

                <div class="col-sm-12">
                    <h4>Localisation</h4>
                </div>

                <div class="col-sm-12">
                    {{ spot.localisationDescription|raw }}
                </div>
            </div>



            <div class="row">
                <div class="col-sm-12">
                    {% from "LaPoizWindBundle:BothOffice/Spot:map.html.twig" import map %}
                    {{ map(spot) }}
                </div>
            </div>



            <div class="row">
                <div class="col-sm-3">
                    Données GPS:
                </div>

                <div class="col-sm-4">
                    Lat:{{ spot.gpsLat }} / long:{{ spot.gpsLong }}
                </div>
            </div>

        </div>
    </div>
{% endmacro %}