{% extends 'LaPoizWindBundle:FrontOffice:base.html.twig' %}


    {% block scriptGraph %}
        <script src="{{ asset('bundles/lapoizgraph/js/moment.min.js') }}"></script>
        <script src="{{ asset('bundles/lapoizgraph/js/spline.js') }}"></script>
        <script src="{{ asset('bundles/lapoizgraph/js/meteoFranceIcon.js') }}"></script>
        <script src="{{ asset('bundles/lapoizgraph/js/Graph.js') }}"></script>
        <script src="{{ asset('bundles/lapoizgraph/js/WindGraph.js') }}"></script>

        <script src="{{ asset('bundles/lapoizgraph/js/Legend.js') }}"></script>
        <script src="{{ asset('bundles/lapoizgraph/js/graphSpot.js') }}"></script>

        <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
    {% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('bundles/lapoizgraph/css/graphSpot.css') }}" rel="stylesheet" media="screen">
    {% endblock %}

{% block bodyPage %}

<h1>Prévisions météo et détails du spot: {{ spot.nom }} </h1>

    <div class="row">
        <div class="col-sm-12">
            {% from "LaPoizGraphBundle:Wind:graph.html.twig" import graph %}
            {{ graph(spot) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 center-block text-center" heigth="220px">
            <h3 class="titreSVG">Orientation du vent à {{ spot.nom }}</h3>

            <div class="row">
                <div class="col-sm-6 centered">
            {% from "LaPoizWindBundle:BothOffice/Spot:rosaceWind.html.twig" import displayRosace %}
            {{ displayRosace("200px","200px") }}

            <script>

                // **************************************
                // ** Gestion de l'orientation du vent **
                // **************************************
                var tabOrientationState = new Array(); // Array with orientation => state, used for rosace wind

                getOrientationDataFromSpot();

                // Récupére les données de l'objet spot et les pousse dans la rosace

                function getOrientationDataFromSpot() {
                    // Parcour la liste des WindOrientation
                    {% for windOrientation in spot.windOrientation %}
                    tabOrientationState["{{ windOrientation.orientation }}"]="{{ windOrientation.state?windOrientation.state:"?" }}";
                    {% endfor %}

                    svgLoad(tabOrientationState, true);
                }

            </script>
                </div>

                <div class="col-sm-6" align="left">
                    {{ spot.infoOrientation|raw }}
                </div>
            </div>
        </div>

        {% if spot.mareeURL|default is not empty %}
    <div class="col-sm-6 centered">
        <div class="row">

            <div class="col-sm-6 centered">
                {% from "LaPoizWindBundle:BothOffice/Spot/Ajax/Maree:graph.html.twig" import graphMaree %}
                {{ graphMaree(spot, "300px","220px" ) }}

                {% from "LaPoizWindBundle:BothOffice/Spot/Ajax/Maree:restrictionJS.html.twig" import restrictionMaree %}
                {{ restrictionMaree(spot) }}
            </div>
            <div class="col-sm-6 centered">
                {{ spot.infoMaree|raw }}
            </div>
        </div>
    </div>
        {% endif %}
</div>


    <div class="row">

        <div class="col-sm-6">
            <h3>Le Spot</h3>

            <div class="row">
                <div class="col-sm-12">
                    <h4>Description</h4>
                    {{ spot.description|raw }}
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <h4>Sites qui parlent du spot</h4>
                    {% for infoSpot in spot.infoSpot %}
                        <div class="row">
                            <div class="col-sm-12">
                                <a target="_blank" href="{{ infoSpot.url }}">
                                    {{ infoSpot.titre }}
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                    {{ infoSpot.commentaire|raw }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <h3>Localisation de {{ spot.nom }}</h3>
                <h4>Depuis Paris (Porte d'Auteuil)</h4>
                    <ul>
                        <li>Trajet de {{ (spot.nbMinuteFromParis / 60) | round }}h{{ spot.nbMinuteFromParis % 60 }} depuis Paris (calculé sans embouteillage).</li>
                        <li>{{ spot.nbKmFromParis | round}}km  de route dont {{ spot.nbKmFromParisAutoroute | round}}km d'autoroute (payage: {{ spot.payageFromParis }}€) </li>
                    </ul>
                <h4>Pour y aller</h4>

            {% from "LaPoizWindBundle:FrontOffice/spot:localisation.html.twig" import detail %}
            {{ detail(spot) }}
        </div>
    </div>



    <div class="row">

        <div class="col-sm-6">
            <h3>Explications sur les graphiques</h3>

            {% from "LaPoizWindBundle:FrontOffice/spot:explications.html.twig" import info %}
            {{ info(spot) }}
        </div>

        <div class="col-sm-6">
            ... On verra ...
        </div>

    </div>

{% endblock %}


