{% macro view(listRegion, listSpotsWithoutRegion, listWebsites) %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logoHomePage" href="{{ path('_index') }}">
                <img src="{{ asset('bundles/lapoizwind/images/lapoizWindIcone.png') }}" alt="LaPoizWind">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li class="dropdown {% if app.request.attributes.get('_route') starts with '_bo_spot' %} active{% endif %}">
                    <a data-toggle="dropdown" href="#">Gestion des spots<b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        {% for region in listRegion %}
                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ region.nom }}</a>
                                <ul class="dropdown-menu">
                                    {% if region.spots is not null %}
                                        {% for spot in region.spots %}
                                            <li class="{% if app.request.attributes.get('_route') starts with '_bo_spot' and
                                            spot.id in   app.request.uri|split('/') %} active{% endif %}">
                                                <a href="{{ path('_bo_spot',{'id':spot.id}) }}">
                                                    <i class="icon-chart-bar" ></i>{{ spot.nom }}</a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </li>
                        {% endfor %}

                        {% if listSpotsWithoutRegion is not null %}
                            {% if listSpotsWithoutRegion|length > 0 %}
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Autres spots</a>
                                    <ul class="dropdown-menu">

                                        {% for spot in listSpotsWithoutRegion %}
                                            <li class="{% if app.request.attributes.get('_route') starts with '_fo_spot_graph' and
                                            spot.id in   app.request.uri|split('/') %} active{% endif %}">
                                                <a href="{{ path('_fo_spot_graph',{'id':spot.id}) }}">
                                                    <i class="icon-chart-bar" ></i>{{ spot.nom }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endif %}

                        <li class="divider"></li>
                        <li><a href="{{ path('_bo_spot_create') }}"><span class="glyphicon glyphicon-plus"></span> Créer un spot</a></li>
                    </ul>
                </li>


                <li class="dropdown {% if app.request.attributes.get('_route') starts with '_bo_region' %} active{% endif %}">
                    <a data-toggle="dropdown" href="#">Gestion des regions<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if listRegion is not null %}
                            {% for region in listRegion %}
                                <li class="{% if app.request.attributes.get('_route') starts with '_bo_region' and
                                region.id in app.request.uri|split('/') %} active{% endif %}"><a href="{{ path('_bo_region',{'id':region.id}) }}">{{ region.nom }}</a></li>
                            {% endfor %}
                        {% endif %}
                        <li class="divider"></li>
                        <li><a href="{{ path('_bo_region_create') }}"><span class="glyphicon glyphicon-plus"></span> Créer une region</a></li>
                    </ul>
                </li>

                <li class="dropdown {% if app.request.attributes.get('_route') starts with '_bo_test' %} active{% endif %}">
                    <a data-toggle="dropdown" href="#">Tests<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="active"><a href="{{ path('_bo_test_maree') }}">Test marée</a></li>
                        <li><a href="#">Test Ajax</a></li>
                    </ul>
                </li>


                <li class="dropdown {% if app.request.attributes.get('_route') starts with '_bo_website' %} active{% endif %}">
                    <a data-toggle="dropdown" href="#">Gestion des sites web<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if listWebsites is not null %}
                            {% for website in listWebsites %}
                                <li class="{% if app.request.attributes.get('_route') starts with '_bo_website_edit' and
                                website.id in app.request.uri|split('/') %} active{% endif %}">
                                    <a href="{{ path('_bo_website_edit',{'id':website.id}) }}">{{ website.nom }}</a></li>
                            {% endfor %}
                        {% endif %}
                        <li class="divider"></li>
                        <li><a href="{{ path('_bo_website_create') }}"><span class="glyphicon glyphicon-plus"></span> Créer un site</a></li>
                    </ul>
                </li>


                <li class="dropdown {% if app.request.attributes.get('_route') starts with '_bo_tools' %} active{% endif %}">
                    <a data-toggle="dropdown" href="#">Outils divers<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="{% if app.request.attributes.get('_route') starts with '_bo_tools_rosace_convert_png' %} active{% endif %}">
                                    <a href="{{ path('_bo_tools_rosace_convert_png') }}">Create Rosace (png)</a>
                        </li>

                        <li class="{% if app.request.attributes.get('_route') starts with '_bo_tools_rosace_convert_all_spots' %} active{% endif %}">
                            <a href="{{ path('_bo_tools_rosace_convert_all_spots') }}">Create Rosace (png) for all spots</a>
                        </li>

                        <li class="{% if app.request.attributes.get('_route') starts with '_bo_tools_create_allprevision_spot' %} active{% endif %}">
                            <a href="{{ path('_bo_tools_create_allprevision_spot',{'id':'1'}) }}">Create all prevision for a spot</a>
                        </li>
                    </ul>
                </li>

            </ul>




            <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('logout') }}">{{ "header.connected.link.label.logout" | trans }}</a></li>
                        <li><a href="{{ path('_bo_index') }}">{{ "header.link.label.admin" | trans }}</a></li>
                    {% else %}
                        <li><a class="btn pull-right" data-toggle="modal" href="#login">{{ "header.connected.link.label.login" | trans }}</a></li>
                    {% endif %}
            </ul>



        </div>
    </div>
{% endmacro %}