<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Damien Poizat">
    <link rel="shortcut icon" href="{{ asset('bundles/lapoizwind/images/lapoizWindIcone.png') }}">

    <title>{% block titlePage %}Back Office de LaPoizWind Server{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/lapoizwind/css/lapoizwind-bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/lapoizwind/font/css/fontello.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/lapoizwind/css/laPoizWind.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/lapoizwind/css/laPoizWind_BO.css') }}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ asset('bundles/lapoizwind/js/bootstrap.min.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script src="http://code.highcharts.com/highcharts.js"></script>

    <script src="{{ asset('bundles/lapoizwind/js/tinymce/tinymce.min.js') }}"></script>

    {% block scriptGraph %}
    {% endblock %}


    {% block stylesheets %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

</head>

    
<body>
    {% if listSpot is defined %}

    {% from "LaPoizWindBundle:BackOffice/PageComposant:nav.html.twig" import view %}
    {{ view(listRegion, listSpotsWithoutRegion, listWebsites) }}

    {% endif %}

    <div class="container">

        {% block bodyPage %}
            CORPS DE LA PAGE .................
        {% endblock %}
    </div><!-- /.container -->




    {% block javascriptsEnd %}{% endblock %}
    </body>
</html>