<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Damien Poizat">
    <link rel="shortcut icon" href="{{ asset('bundles/lapoizwind/images/ico/favicon.png') }}">

    <title>{% block titlePage %}Back Office de LaPoizWind Server{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/lapoizwind/css/bootstrap.css') }}" rel="stylesheet">
    <!-- Icons en plus -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/lapoizwind/css/laPoizWind.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/lapoizwind/css/laPoizWind_BO.css') }}" rel="stylesheet">


    {% block scriptGraph %}
    {% endblock %}


    {% block stylesheets %}
    {% endblock %}

</head>

    
<body>
    {% if listSpot is defined %}

    {% from "LaPoizWindBundle:BackOffice/PageComposant:nav.html.twig" import view %}
    {{ view(listSpot) }}

    {% endif %}

    <div class="container">

        {% block bodyPage %}
            {{ errMessage }}
        {% endblock %}
    </div><!-- /.container -->


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ asset('bundles/lapoizwind/js/bootstrap.min.js') }}"></script>

    {% block javascripts %}{% endblock %}
    </body>
</html>