<h3>URL pour récupérer les prévisions de T°C de l'eau</h3>

<div class="row">
    <div class="col-sm-6">
        <form action="{{ path('_bo_ajax_spot_tempWater_edit', {'id':spot.id}) }}" method="POST" {{ form_enctype(form) }}
              id="tempWater_form">

            {{ form_row(form.tempWaterURL) }}
            {{ form_rest(form) }}
        </form>
    </div>
</div>

<script>

    $("#tempWater_form").on('submit', function(e){
        e.preventDefault();

            $('#result').html('<img src="{{ asset('bundles/lapoizwind/images/loading.gif') }}" alt="Loading Ajax data" />');
            var $this = $(this);

            $.ajax({
                url: $this.attr('action'),
                type: $this.attr('method'),
                data: $this.serialize(),
                success: function(html) {
                    $('#result').html(html);
                }
            });
    });

</script>