
    <table class="table table-hover table-bordered table-condensed">
        <thead>
        <tr>
            <th class="text-center">Spot</th>

            {% for i in 0..6 %}
                <th class="text-center">{{ date('+' ~ i ~ 'days')|date('D j M') }}</th>
            {% endfor %}

        </tr>
        </thead>

        <tbody>
        {% for spot in listSpots %}
            <tr>
                <th scope="row" class="titleLineTableNote">
                    <a href="{{ path('_fo_spot_graph',{'id':spot.id}) }}">
                        {{ spot.nom }} <br />
                        <i class="icon-chart-bar" ></i>
                    </a>
                </th>
                {% set listNotesDate = tabNotesSpots[spot.nom] %}
                {% if listNotesDate is not null %}

                    {% set classTop = 'elemGreen' %}
                    {% set classBof = 'elemOrange' %}
                    {% set classNule = 'elemRed' %}
                    {% set classBorderTop = 'borderGreen' %}
                    {% set classBorderBof = 'borderOrange' %}
                    {% set classBorderNule = 'borderRed' %}

                    {% for notesDate in listNotesDate %}
                <td>

                        <!-- Wind -->
                            {% if notesDate is not null %}
                                <div class="row">

                                    <div class="col-sm-4"> <!-- partie note du vent -->


                                        {% set classNbH = classTop %}
                                        {% set classBorderColor = classBorderTop %}
                                        {% if notesDate.nbHoureNavCalc<3 %}
                                            {% set classNbH = classNule %}
                                            {% set classBorderColor = classBorderNule %}
                                        {% elseif notesDate.nbHoureNavCalc<8 %}
                                            {% set classNbH = classBof %}
                                            {% set classBorderColor = classBorderBof %}
                                        {% endif %}


                                        <div class="row">
                                            <div class="col-sm-12 {{ classNbH }}">
                                                <i class="icon-wind"></i>
                                                <span class="nbHourNavCircle {{ classBorderColor }}"
                                                      data-toggle="popover{{ notesDate.id }}">
                                                {{ (notesDate.nbHoureNavCalc)|number_format(0, ',', '.') }}h
                                                </span>
                                            </div>
                                        </div>

                                        <script type="text/javascript">
                                            $(document).ready(function(){
                                                $('[data-toggle="popover{{ notesDate.id }}"]').popover({
                                                    placement : 'top',
                                                    trigger : 'hover',
                                                    html : true,
                                                    content : '<div class="row"><div class="col-xs-12 inLine">' +
                                                    {% if notesDate.nbHoureNav is not null %}
                                                    {% for nbHoureNavElem in notesDate.nbHoureNav %}
                                                        {% if nbHoureNavElem is not null %}
                                                            {% set classNbH = classTop %}
                                                            {% set classBorderColor = classBorderTop %}
                                                            {% if nbHoureNavElem.nbHoure<3 %}
                                                                {% set classNbH = classNule %}
                                                                {% set classBorderColor = classBorderNule %}
                                                            {% elseif nbHoureNavElem.nbHoure<8 %}
                                                                {% set classNbH = classBof %}
                                                                {% set classBorderColor = classBorderBof %}
                                                            {% endif %}
                                                            '&nbsp;'+
                                                            '<div class="row wind-elem-flag">' +
                                                                '<div class="col-sm-4 {{ classNbH }} noPadding">'+
                                                                    '<img src="{{ asset('bundles/lapoizwind/images/logos/'~nbHoureNavElem.website.logo|e) }}" '+
                                                                        'alt="{{ nbHoureNavElem.website.nom }}" class="logoWebsite">'+
                                                                    '<span class="nbHourNavCircle {{ classBorderColor }}">'+
                                                                        '{{ (nbHoureNavElem.nbHoure)|number_format(0, ',', '.') }}h '+
                                                                    '</span>'+
                                                                '</div>' +
                                                            '</div>' +
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% endif %}
                                                    '</div></div>'
                                                });
                                            });
                                        </script>
                                    </div>

                                {% set classTemp = classTop %}
                                {% if notesDate.tempMin<8 %}
                                    {% set classTemp = classNule %}
                                {% elseif notesDate.tempMin<15 %}
                                    {% set classTemp = classBof %}
                                {% endif %}

                                    <div class="col-md-8 noPadding"> <!-- partie meteo -->

                                {% if notesDate.tempMin<35 %}
                                        <div class="row">
                                            <div class="col-xs-12 {{ classTemp }}">
                                                <i class="icon-temperature"></i>
                                        {{ notesDate.tempMin|number_format(0, ',', '.') }}°C<i class="icon-right"></i>{{ notesDate.tempMax|number_format(0, ',', '.') }}°C
                                            </div>
                                        </div>
                                {% endif %}

                                {% if notesDate.tempWater is not null %}
                                        <div class="row">
                                            <div class="col-xs-12 {{ classTemp }}">
                                                <i class="icon-air" ></i>
                                                {{ notesDate.tempWater|number_format(0, ',', '.') }}°C
                                            </div>
                                        </div>
                                {% endif %}

                                        <div class="row">
                                            <div class="col-xs-12 visible-lg meteo-display-icon">
                                                <img src="{{ asset('bundles/lapoizwind/images/transparent.png') }}"
                                                     class="meteo-icon"
                                                     style="background:url({{ asset('bundles/lapoizwind/images/meteo-icons-x-small.png') }});
                                                             background-position: 0% {{ notesDate.meteoBest|meteoFrance_logo }}%;"
                                                /><i class="icon-right"></i>
                                                <img src="{{ asset('bundles/lapoizwind/images/transparent.png') }}"
                                                    class="meteo-icon"
                                                    style="background:url({{ asset('bundles/lapoizwind/images/meteo-icons-x-small.png') }});
                                                     background-position: 0% {{ notesDate.meteoWorst|meteoFrance_logo }}%;"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                </td>
                    {% endfor %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
