{% macro view() %}

    <div class="modal" id="login">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Accées au Back-office de LaPoiz.com</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" action="{{ path('login_check') }}" method="post" name="loginForm">
                        <input type="hidden" name="_target_path" value="{{ url('_bo_index') }}" />
                        <div class="form-group">
                            <label for="username" class="col-lg-4 control-label">{{ "auth.username.label" | trans }}:</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" name="_username" id="username" placeholder="username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-lg-4 control-label">{{ "auth.password.label" | trans }}</label>
                            <div class="col-lg-6">
                                <input type="password" class="form-control" name="_password" id="password" placeholder="Password" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-4 col-lg-10">
                                <button type="submit" class="btn btn-primary">{{ "auth.button.login" | trans }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endmacro %}