{% macro view(listRegion, listSpotsWithoutRegion) %}

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logoHomePage" href="{{ path('_index') }}">
                <img src="{{ asset('bundles/lapoizwind/images/lapoizWindIcone.png') }}" alt="LaPoizWind">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li class=" {% if app.request.attributes.get('_route') starts with '_fo_sites_map' %}active{% endif %}">
                    <a href="{{ path('_fo_spotes_prev_map') }}">Carte des spots (prévisions)</a>
                </li>

                <li class=" {% if app.request.attributes.get('_route') starts with '_fo_sites_map' %}active{% endif %}">
                    <a href="{{ path('_fo_spotes_orient_map') }}">Carte des spots (orientations)</a>
                </li>

                <li class="dropdown {% if app.request.attributes.get('_route') starts with '_fo_spot_graph' %} active{% endif %}">
                    <a data-toggle="dropdown" href="#">Les spots<b class="caret"></b></a>
                    <ul class="dropdown-menu">

                    {% for region in listRegion %}
                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ region.nom }}</a>
                            <ul class="dropdown-menu">
                            {% if region.spots is not null %}
                            {% for spot in region.spots %}
                                <li class="{% if app.request.attributes.get('_route') starts with '_fo_spot_graph' and
                                spot.id in   app.request.uri|split('/') %} active{% endif %}">
                                    <a href="{{ path('_fo_spot_graph',{'id':spot.id}) }}">
                                        <i class="icon-chart-bar" ></i>{{ spot.nom }}</a>
                                </li>
                            {% endfor %}
                            {% endif %}
                            </ul>
                        </li>
                    {% endfor %}

                        {% if listSpotsWithoutRegion is not null %}
                            {% if listSpotsWithoutRegion|length > 0 %}
                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Autres spots</a>
                                <ul class="dropdown-menu">

                                        {% for spot in listSpotsWithoutRegion %}
                                            <li class="{% if app.request.attributes.get('_route') starts with '_fo_spot_graph' and
                                            spot.id in   app.request.uri|split('/') %} active{% endif %}">
                                                <a href="{{ path('_fo_spot_graph',{'id':spot.id}) }}">
                                                    <i class="icon-chart-bar" ></i>{{ spot.nom }}</a>
                                            </li>
                                        {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                        {% endif %}



                        <li class="divider"></li>
                        <li><a href="{{ path('_fo_spot_ask_create') }}">
                                <i class="icon-plus"></i> Demande pour ajouter un spot</a>
                        </li>
                    </ul>
                </li>

                <li class="disabled"> <a href="#">Où naviguer ce we ?</a> </li>




                <li class=" {% if app.request.attributes.get('_route') starts with '_fo_concept' %}active{% endif %}">
                    <a href="{{ path('_fo_concept') }}">Le concept du site</a> </li>
                <li class="disabled"> <a href="#">Les paramètres</a> </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{ path('logout') }}">{{ "header.connected.link.label.logout" | trans }}</a></li>
                <li><a href="{{ path('_bo_index') }}">{{ "header.link.label.admin" | trans }}</a></li>
                {% else %}
                <li><a class="btn pull-right" data-toggle="modal" href="#login">{{ "header.connected.link.label.login" | trans }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endmacro %}